<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cardrelativemotion1">
      <div class="devicedesktop3">
        <div class="panelheader11">
          <div class="label8">REL MOTION</div>
          <div class="control5">
            <div class="buttonswitch6">
              <img
                class="iconswitchon7"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer11">
          <div class="metricprimary32">
            <div class="labeltext36">Rel Dir</div>
            <div class="metricvalue37">299 T</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Spd RM</div>
            <div class="metricvalue37">5.6 kts</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Brg Rate</div>
            <div class="metricvalue37">0.72 RIGHT</div>
          </div>
          <div class="metricprimary35">
            <div class="labeltext36">Tgt Angle</div>
            <div class="metricvalue37">240 deg</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Aspect</div>
            <div class="metricvalue37">PORT QTR</div>
          </div>
        </div>
      </div>
      <div class="devicemobile3">
        <div class="panelheader11">
          <div class="label8">REL MOTION</div>
          <div class="control5">
            <div class="buttonswitch6">
              <img
                class="iconswitchon7"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer11">
          <div class="metricprimary32">
            <div class="labeltext36">Rel Dir</div>
            <div class="metricvalue42">299 T</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Spd RM</div>
            <div class="metricvalue42">5.6 kts</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Brg Rate</div>
            <div class="metricvalue42">0.72 RIGHT</div>
          </div>
          <div class="metricprimary35">
            <div class="labeltext36">Tgt Angle</div>
            <div class="metricvalue42">240 deg</div>
          </div>
          <div class="metricprimary32">
            <div class="labeltext36">Aspect</div>
            <div class="metricvalue42">PORT QTR</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>