.label8 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconswitchon7 {
  width: 14px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
}
.buttonswitch6 {
  height: 20px;
  width: 20px;
  border-radius: var(--br-2);
  background-color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control5,
.panelheader11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.control5 {
  flex: 1;
  justify-content: flex-end;
}
.panelheader11 {
  justify-content: flex-start;
  gap: var(--gap-10);
}
.labeltext36,
.metricvalue37 {
  position: relative;
  line-height: 18px;
}
.metricvalue37 {
  flex: 1;
  font-size: var(--font-size-18);
  line-height: 24px;
  font-family: var(--font-ibm-plex-mono);
  color: var(--primary-500);
  text-align: right;
}
.metricprimary32 {
  overflow: hidden;
}
.metricprimary32,
.metricprimary35 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}
.datacontainer11,
.devicedesktop3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.datacontainer11 {
  align-self: stretch;
  padding: var(--padding-4) 0 0;
  font-size: var(--font-size-14);
  color: var(--primary-600);
}
.devicedesktop3 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-4);
  background-color: var(--color-gray);
  width: 304px;
  overflow: hidden;
  padding: var(--space-3) var(--padding-16) var(--padding-16);
  box-sizing: border-box;
}
.metricvalue42 {
  flex: 1;
  position: relative;
  line-height: 18px;
  color: var(--primary-500);
  text-align: right;
}
.cardrelativemotion1,
.devicemobile3 {
  box-sizing: border-box;
  overflow: hidden;
}
.devicemobile3 {
  position: absolute;
  top: 216px;
  left: 20px;
  border-radius: var(--br-4);
  background-color: var(--color-gray);
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-3) var(--padding-16) var(--padding-16);
}
.cardrelativemotion1 {
  width: 100%;
  border-radius: var(--br-5);
  border: 1px dashed var(--color-blueviolet);
  height: 412px;
  text-align: left;
  font-size: var(--font-size-12);
  color: var(--neutral-300);
  font-family: var(--font-ibm-plex-sans);
}