.track1 {
  text-transform: uppercase;
}
.separator,
.track1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.metrictracklabel1,
.panelheader7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.metrictracklabel1 {
  border-radius: var(--br-2);
  background-color: var(--primary-500-alpha-90);
  padding: var(--padding-1) var(--padding-4);
  gap: var(--gap-4);
}
.panelheader7 {
  align-self: stretch;
}
.labeltext22,
.metricvalue23 {
  position: relative;
  line-height: 18px;
}
.metricvalue23 {
  flex: 1;
  font-size: var(--font-size-18);
  line-height: 24px;
  font-family: var(--font-ibm-plex-mono);
  color: var(--primary-500);
  text-align: right;
}
.metricprimary21 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}
.datacontainer7,
.devicedesktop1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.datacontainer7 {
  align-self: stretch;
  padding: var(--padding-4) 0 0;
  font-size: var(--font-size-14);
  color: var(--primary-600);
}
.devicedesktop1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-4);
  background-color: var(--neutral-800-alpha-80);
  width: 304px;
  padding: var(--space-3) var(--padding-16) var(--padding-16);
}
.cardtrack1,
.devicedesktop1,
.devicemobile1 {
  box-sizing: border-box;
  overflow: hidden;
}
.devicemobile1 {
  position: absolute;
  top: 192px;
  left: 20px;
  border-radius: var(--br-4);
  background-color: var(--neutral-800-alpha-80);
  width: 196px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-3) var(--padding-16) var(--padding-16);
}
.cardtrack1 {
  width: 100%;
  border-radius: var(--br-5);
  border: 1px dashed var(--color-blueviolet);
  height: 364px;
  text-align: left;
  font-size: var(--font-size-11);
  color: var(--neutral-900);
  font-family: var(--font-ibm-plex-sans);
}