body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Color */
  --color-darkslategray: #333;
  --color-gray: rgba(23, 23, 23, 0.8);
  --color-blueviolet: #9747ff;

  /* Gap */
  --gap-4: 4px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;

  /* Padding */
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-4: 4px;
  --padding-16: 16px;

  /* BorderRadius */
  --br-2: 2px;
  --br-4: 4px;
  --br-5: 5px;

  /* Font */
  --font-ibm-plex-mono: IBM Plex Mono;
  --font-ibm-plex-sans: IBM Plex Sans;

  /* FontSize */
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-18: 18px;

  /* Figma Variables */

  /* Spacing */
  --space-2: 8px;
  --space-3: 12px;

  /* Color */
  --neutral-700-alpha-80: rgba(24, 24, 24, 0.8);
  --neutral-300: #b0b0b0;
  --neutral-900: #000;
  --primary-500-alpha-90: rgba(117, 251, 76, 0.9);
  --neutral-800-alpha-80: rgba(34, 34, 34, 0.8);
  --neutral-500: #898989;
  --primary-500: #75fb4c;
  --primary-600: #44a828;
}