body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Color */
  --color-blueviolet: #9747ff;

  /* Gap */
  --gap-8: 8px;

  /* Padding */
  --padding-1: 1px;
  --padding-2: 2px;

  /* BorderRadius */
  --br-2: 2px;
  --br-4: 4px;
  --br-5: 5px;

  /* Figma Variables */

  /* Spacing */
  --space-2: 8px;

  /* Color */
  --neutral-900: #000;
  --primary-500-alpha-90: rgba(117, 251, 76, 0.9);
  --neutral-800-alpha-80: rgba(34, 34, 34, 0.8);
  --primary-500: #75fb4c;
}