.vector-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  top: 12.4px;
  left: 8px;
  width: 2px;
  height: 0;
}
.vector-icon5 {
  top: 3.5px;
  left: 6.2px;
  width: 4.2px;
  height: 5.8px;
}
.vector-group {
  position: relative;
  width: 16px;
  height: 16px;
}
.iconhelp {
  width: 100%;
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2);
  box-sizing: border-box;
}
