.maneuver-logo-child {
  width: 20px;
  position: relative;
  max-height: 100%;
}
.maneuver-logo-item {
  height: 12.8px;
  width: 112px;
  position: relative;
}
.maneuver-logo {
  height: 24px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-2);
}
