<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cardcpa1">
      <div class="devicedesktop2">
        <div class="panelheader9">
          <div class="label6">CPA</div>
          <div class="control3">
            <div class="buttonswitch4">
              <img
                class="iconswitchon5"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer9">
          <div class="metricsecondarymobile">
            <div class="labeltext30">Brg</div>
            <div class="metricvalue31">209 T / STBD QTR</div>
          </div>
          <div class="metricsecondarymobile">
            <div class="labeltext30">Rng</div>
            <div class="metricvalue31">0.4 nm</div>
          </div>
          <div class="metricsecondarymobile">
            <div class="labeltext30">Time</div>
            <div class="metricvalue31">00:25:28</div>
          </div>
        </div>
      </div>
      <div class="devicemobile2">
        <div class="panelheader9">
          <div class="label6">CPA</div>
          <div class="control3">
            <div class="buttonswitch4">
              <img
                class="iconswitchon5"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer9">
          <div class="metricsecondarymobile">
            <div class="labeltext30">Brg</div>
            <div class="metricvalue34">209 T / STBD QTR</div>
          </div>
          <div class="metricsecondarymobile">
            <div class="labeltext30">Rng</div>
            <div class="metricvalue34">0.4 nm</div>
          </div>
          <div class="metricsecondarymobile">
            <div class="labeltext30">Time</div>
            <div class="metricvalue34">00:25:28</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>