<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cardwind1">
      <div class="devicedesktop4">
        <div class="panelheader13">
          <div class="label10">WIND</div>
          <div class="control7">
            <div class="buttonswitch8">
              <img
                class="iconswitchon9"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer13">
          <div class="metricprimary37">
            <div class="labeltext46">True</div>
            <div class="metricvalue47">070 T 15.0 kts</div>
          </div>
          <div class="metricprimary37">
            <div class="labeltext46">Rel</div>
            <div class="metricvalue47">169 R 27.2 kts</div>
          </div>
        </div>
      </div>
      <div class="devicemobile4">
        <div class="panelheader13">
          <div class="label10">WIND</div>
          <div class="control7">
            <div class="buttonswitch8">
              <img
                class="iconswitchon9"
                alt=""
                src="./public/iconswitchon.svg"
              />
            </div>
          </div>
        </div>
        <div class="datacontainer13">
          <div class="metricprimary37">
            <div class="labeltext46">True</div>
            <div class="metricvalue49">070 T 15.0 kts</div>
          </div>
          <div class="metricprimary37">
            <div class="labeltext46">Rel</div>
            <div class="metricvalue49">169 R 27.2 kts</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>