<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./metric-track-label.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="metrictracklabel3">
      <div class="metric-component">TRACK</div>
      <div class="metric-component">01</div>
    </div>
  </body>
</html>