.metric-component {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.metrictracklabel3 {
  border-radius: var(--br-2);
  background-color: var(--primary-500-alpha-90);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-1) var(--padding-4);
  box-sizing: border-box;
  gap: var(--gap-4);
  text-align: left;
  font-size: var(--font-size-11);
  color: var(--neutral-900);
  font-family: var(--font-ibm-plex-sans);
}