.labeltext16,
.metricvalue16 {
  position: relative;
  line-height: 18px;
}
.metricvalue16 {
  flex: 1;
  font-size: var(--font-size-18);
  line-height: 24px;
  font-family: var(--font-ibm-plex-mono);
  color: var(--primary-500);
  text-align: right;
}
.statedefault {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 272px;
  height: 26px;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-12);
}
.inputclicktoedit,
.statedefault,
.stateeditable {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stateeditable {
  position: absolute;
  top: 66px;
  left: 20px;
  width: 272px;
  height: 26px;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-12);
}
.inputclicktoedit {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--neutral-500);
  flex: 1;
  border-radius: var(--br-4);
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-ibm-plex-mono);
  font-size: var(--font-size-18);
  color: var(--primary-500);
}
.stateeditablehover,
.stateediting {
  position: absolute;
  top: 112px;
  left: 20px;
  width: 272px;
  height: 26px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}
.stateediting {
  top: 158px;
}
.metricprimary16 {
  width: 100%;
  border-radius: var(--br-5);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 204px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-14);
  color: var(--primary-600);
  font-family: var(--font-ibm-plex-sans);
}