<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cardtrack1">
      <div class="devicedesktop1">
        <div class="panelheader7">
          <div class="metrictracklabel1">
            <div class="track1">TRACK</div>
            <div class="separator">01</div>
          </div>
        </div>
        <div class="datacontainer7">
          <div class="metricprimary21">
            <div class="labeltext22">Brg</div>
            <div class="metricvalue23">285 T</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Rng</div>
            <div class="metricvalue23">20.9 nm</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Crs</div>
            <div class="metricvalue23">255 T</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Spd</div>
            <div class="metricvalue23">6.1 KTS</div>
          </div>
        </div>
      </div>
      <div class="devicemobile1">
        <div class="panelheader7">
          <div class="metrictracklabel1">
            <div class="track1">TRACK</div>
            <div class="separator">01</div>
          </div>
        </div>
        <div class="datacontainer7">
          <div class="metricprimary21">
            <div class="labeltext22">Brg</div>
            <div class="metricvalue23">285 T</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Rng</div>
            <div class="metricvalue23">20.9 nm</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Crs</div>
            <div class="metricvalue23">255 T</div>
          </div>
          <div class="metricprimary21">
            <div class="labeltext22">Spd</div>
            <div class="metricvalue23">6.1 KTS</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>