<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./menu-settings-set.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="menusettings1">
      <div class="devicedesktop-stateon">
        <div class="buttonbase19">
          <img
            class="iconsettings1"
            alt=""
            src="./public/iconsettings1@2x.png"
          />
        </div>
        <div class="buttontogglerange1">
          <div class="buttonbase20">
            <img class="iconrange123" alt="" src="./public/iconrange121.svg" />
          </div>
        </div>
        <div class="buttontogglerange1">
          <div class="buttonbase21">
            <img class="iconnumber5" alt="" src="./public/iconnumber1@2x.png" />
          </div>
        </div>
        <div class="buttontogglerange1">
          <div class="buttonbase21">
            <img
              class="iconpolar-plots1"
              alt=""
              src="./public/iconpolar-plots.svg"
            />
          </div>
        </div>
      </div>
      <div class="devicedesktop-stateoff">
        <div class="buttonbase23">
          <img
            class="iconsettings1"
            alt=""
            src="./public/iconsettings@2x.png"
          />
        </div>
      </div>
      <div class="devicemobile-stateoff">
        <div class="buttonbase24">
          <img
            class="iconsettings3"
            alt=""
            src="./public/iconsettings-2@2x.png"
          />
        </div>
      </div>
      <div class="devicemobile-stateon">
        <div class="buttonbase25">
          <img
            class="iconsettings3"
            alt=""
            src="./public/iconsettings-3@2x.png"
          />
        </div>
        <div class="buttontogglerange2">
          <div class="buttonbase26">
            <img
              class="iconrange124"
              alt=""
              src="./public/iconrange12-11.svg"
            />
          </div>
        </div>
        <div class="buttontogglerange2">
          <div class="buttonbase27">
            <img
              class="iconnumber6"
              alt=""
              src="./public/iconnumber-11@2x.png"
            />
          </div>
        </div>
        <div class="buttontogglerange2">
          <div class="buttonbase27">
            <img
              class="iconpolar-plots2"
              alt=""
              src="./public/iconpolar-plots-1.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>