.vector-icon2 {
  position: absolute;
  width: 100%;
  top: calc(50% - 10px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}
.iconpolar-plots {
  width: 20px;
  height: 20px;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
