.property-1settings-property,
.property-1settings-property1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-2);
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.property-1settings-property1 {
  top: 60px;
}
.menu {
  width: 100%;
  border-radius: var(--br-5);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 100px;
  overflow: hidden;
}
