.union-icon4 {
  height: 2px;
  width: 18px;
  position: relative;
}
.iconremove {
  width: 100%;
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px var(--padding-1);
  box-sizing: border-box;
}
